:root {
    --primary: #B7252D;
    --secondary : #C4CFD7;
    --whiteFont : #F0F0F0;
    --background : #0D1B28;
  }
.body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    height: 608px;
}
.header{
    border-bottom: 1px solid rgb(244, 8, 8);
    display: flex;
    justify-content: space-between;
}
#features {
    margin-top: 15px;
    display: inline-block;
    height: auto;    
}
.Hots{
    margin-right: 20px;
    border-radius: 10px;
    background-color: #0D1B28;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    height: 22px;
    width: 60px;
    color:  rgb(255, 255, 255);
    margin-bottom: 15px;
    
}
.SpotS{
    margin-right: 20px;
    border-radius: 10px;
    background-color: #0D1B28;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    height: 22px;
    width: 60px;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
}
#text{
    margin-top: 15px;
    margin-left: 20px;
    color: antiquewhite;
    font-family: monospace;
}
.maintext{
    font-size: 20px;
}
.events{
    display: flex;
    gap: 5px;
}
.eventsnow{
    font-size: 15px;
}
.eventslist {
    margin-top: 10px;
    margin-left: 15px;
    height: 150px;
    width: 100px;
    color: #F0F0F0;
    font-size: 11px;
    text-align: center;
}
.singer-img{
    width: 100%; 
    height: 150px; 
    border-radius: 5px; 
    margin-right: 10px;  
}
.mainlogo{
    margin-left: 5px;
    margin-top: 10px;
    height: 30px;
    width: 30px;   
}
.logo{
    display: flex;
}
#sitename{
    margin-left: 10px;
    margin-top: 14px;
    color: white;
    font-size: 15px;
}
.moreevents{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #F0F0F0;
}
#eventsbutton{
    background-color: #B7252D;
    width: 200px;
    border-radius: 14px;
    height: 35px;
    flex-shrink: 0;
    border: solid 1px #B7252D;
    color: white;
    font-size: 11px; 
}